#square {
    display: inline-block;
    background-color: black;
    border: 1px solid gray;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#image {
    display: block;
    width: 50px; /*  match imageSize */
    height: 50px; /*  match imageSize */
    padding: 0; /*match imagePadding */
    box-sizing: border-box;
    object-fit: cover; /* image fills the space*/
}
